* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Gilroy";
}

.navbar {
  background: #fff;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.navbar-nav .nav-link {
  color: #0b2a49;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.navbar-nav .nav-link:hover {
  color: #e20001;
}

#dropdownMenuButton {
  padding-left: 0 !important;
}

.navbar-toggler .hamburger {
  display: block;
  height: 3px;
  width: 24px;
  background-color: #e20001;
  margin: 4px 0;
  border-radius: 2px;
  border: none;
}

.navbar-toggler:hover .hamburger {
  background-color: #af0001;
}

button,
input {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.dropdown-menu {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.dropdown .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown img {
  width: 16px;
  margin-right: 5px;
}

.input-group {
  position: relative;
  margin: 40px 0 20px;
}

.input-group input {
  font-size: 18px;
  padding: 10px;
  display: block;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #999;
}

.input-group input:focus {
  outline: none;
}

.input-group label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input-group label span {
  color: inherit;
}

.input-group input:focus + label {
  top: -7px;
  font-size: 14px;
  color: #e20001;
  padding: 0 3px;
  background: #fff;
}

.input-group input:focus + label span {
  color: #000;
}

.uni-card {
  width: 100%;
}

.uni-card-title {
  text-align: center;
}

.uni-card-title h4 {
  font-size: 1.5em;
  margin-bottom: 30px;
  font-weight: 600;
}

.uni-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.uni-card-image, .uni-card-inputs {
  position: relative;
  margin: 10px;
  width: 100%;
}

.uni-card-inputs .error,
.uni-card .first-step .error {
  color: #e20001;
  margin-top: 10px;
}

.uni-card-image {
  position: relative;
}

.uni-card-image img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.uni-card-image #cardHolderName {
  position: absolute;
  z-index: 2;
  top: 33%;
  left: 30%;
  font-size: 1.3em;
  color: #fff;
}

.uni-card-image #cardNumberLabel {
  position: absolute;
  z-index: 2;
  top: 55%;
  color: #fff;
  font-size: 1.5em;
  left: 16%;
}

.uni-card-image #expiresLabel {
  position: absolute;
  z-index: 2;
  top: 70%;
  color: #fff;
  font-size: 1.1em;
  left: 16%;
}

.uni-card-steps {
  width: 70%;
  margin: 5px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.uni-card-steps::after {
  position: absolute;
  width: 100%;
  z-index: 1;
  content: "";
  height: 1px;
  background: #e20001;
}

.uni-card-steps button {
  z-index: 2;
  font-size: 1.5em;
  border-radius: 50%;
  border: 1px solid #e20001;
  height: 50px;
  width: 50px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #0b2a49;
}

.uni-card-steps button.active {
  background-color: #e20001;
  color: #fff;
}

.card-error .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card-error p {
  margin: 0;
}

.card-error #close {
  border: none;
  background: none;
  font-size: 2em;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.md-form.md-outline input[type="text"]:focus:not([readonly]) {
  border-color: #0b2a49;
}

.md-form.md-outline input[type="text"]:focus:not([readonly]) + label {
  color: #0b2a49;
}

.logo-upload1,
.logo-upload2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo-upload1 label,
.logo-upload2 label {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid #333;
  padding: 10px;
}

.logo-upload1 label:hover,
.logo-upload2 label:hover {
  color: #fff;
  background-color: #e20001;
  border-color: #e20001;
}

.logo-upload1 span,
.logo-upload2 span {
  margin-left: 15px;
  color: #e20001;
}

.error-image-msg {
  display: none;
}

.bold {
  font-weight: bold;
}

.inn-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inn-class button, .inn-class a {
  text-decoration: none;
  color: #e20001;
  border: none;
  background: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.inn-class button:hover, .inn-class a:hover {
  color: #0b2a49;
}

.inn-class svg:hover path {
  fill: #0b2a49;
}

.card p {
  color: #0b2a49;
  font-size: 1.1em;
}

.card p span {
  font-weight: bold;
}

#imgshow1,
#imgshow2 {
  width: auto;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 1px solid #ccc;
  margin-right: 15px;
}

.subtitle {
  margin-bottom: 20px;
}

.submit-btn {
  background: #e20001;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid #e20001;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.submit-btn:hover {
  background: #960001;
  color: #fff;
}

.submit-btn:disabled {
  background: #960001;
  border-color: #960001;
}

.submit-btn:disabled:hover {
  background: #960001;
  color: #fff;
  border-color: #960001;
}

.passport-img {
  padding: 10px;
}

.passport-img img {
  width: 100%;
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0b2a49;
}

.agreement button {
  font-weight: bold;
  color: #e20001;
}

.agreement span {
  margin-left: 5px;
  font-weight: bold;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

.modal {
  padding: 0 !important;
}

.modal-xl {
  max-width: 90%;
}

.modal-content {
  border-radius: 0;
}

.modal-header {
  border-radius: 0;
  background: #e20001;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-title {
  color: #fff;
}

.modal .close {
  color: #fff;
  opacity: 1;
  margin: 0 10px;
  padding: 0;
}

.modal-body a {
  text-decoration: none;
  color: #e20001;
  font-weight: bold;
}

.modal-body a:hover {
  color: #960001;
}

.footer {
  border-top: 1px solid #ccc;
  padding: 30px 0;
}

.footer .phone-numbers h5 {
  font-weight: 600;
}

.footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.footer .social-icons li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
  border: 1px solid transparent;
  width: 30px;
  height: 30px;
  padding-bottom: 2px;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer .social-icons li:hover {
  border: 1px solid #0b2a49;
}

.footer .social-icons img {
  width: 20px;
}

.requirements h5 {
  color: #e20001;
  font-weight: bold;
}

.requirements ul {
  margin: 0;
  padding-left: 0px;
  list-style: none;
}

.requirements ul li {
  position: relative;
  font-weight: 500;
}

.requirements ul li:before {
  content: "-";
  text-indent: -10px;
  margin-right: 5px;
}

.radio-cards1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.radio-cards1 label {
  width: calc(50% - 10px);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.radio-cards1 label:hover {
  cursor: pointer;
  color: #e20001;
}

.radio-cards1-inner {
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px 5px;
  font-size: 0.9em;
}

.radio-cards1 input {
  display: none;
}

.radio-cards1-input:checked + .radio-cards1-inner {
  -webkit-box-shadow: 0 0 1px 1px #e20001;
          box-shadow: 0 0 1px 1px #e20001;
  color: #e20001;
}

.select-option {
  width: 100%;
  border: 1px solid transparent;
  background: #eee;
  padding: 10px 15px;
  outline: none;
}

.map {
  width: 100%;
  height: 80vh;
}

#myModal2 .modal-body, #myModal1 .modal-body {
  padding: 0;
}

#myModal2 .close, #myModal1 .close {
  font-size: 40px;
}

.btns {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 20px;
  border: 1px solid #e20001;
  padding: 8px 20px;
}

#sms-conf {
  letter-spacing: 5px;
  text-align: center;
}

.sms-confirmation {
  display: none;
}

@media only screen and (max-width: 768px) {
  .uni-card-image,
  .uni-card-inputs {
    margin: 10px 0;
  }
}

@media only screen and (max-width: 576px) {
  .uni-card-image,
  .uni-card-inputs {
    margin: 10px 0;
  }
  .btns {
    width: 100%;
    margin: 10px 0;
  }
}

#cardfront {
  width: 100%;
  height: 100%;
}

#svgname {
  text-transform: uppercase;
}

#cardfront .st2 {
  fill: #ffffff;
}

#cardfront .st3 {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
}

#cardfront .st4 {
  font-size: 54.7817px;
}

#cardfront .st5 {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

#cardfront .st6 {
  font-size: 33.1112px;
}

#cardfront .st7 {
  opacity: 0.6;
  fill: #ffffff;
}

#cardfront .st8 {
  font-size: 24px;
}

#cardfront .st9 {
  font-size: 36.5498px;
}

#cardfront .st10 {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
}

#cardfront .st11 {
  font-size: 16.1716px;
}

#cardfront .st12 {
  fill: #4c4c4c;
}

.lightcolor {
  fill: #aaa;
}

.greydark {
  fill: #777;
}

#CardBackground rect {
  width: 100%;
  height: 100%;
}

#CardBackground .cardLogo {
  x: 550px;
  y: 0px;
}
/*# sourceMappingURL=style.css.map */